version: '3'
services:
  postgres:
    image: postgres
    environment:
      TZ: Asia/Seoul
    ports:
      - "5432:5432"
    env_file: .env
    restart: always

  fastapi:
    container_name: my_fastapi
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app
    environment:
      - DEBUG=1
    volumes:
      - ./backend/app:/app
      - ./backend/app/secrets.json:/app/secrets.json
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - postgres
    command: uvicorn main:app --host 0.0.0.0 --reload
 
  react:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: my_react
    working_dir: /app
    volumes:
      -  /app/node_modules
      - ./frontend:/app
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - fastapi
    command: npm start